extends ../shared/layout
block main-content
  h1 Add New Instagram Photo
  form(method="post" action="/instagram/addPhoto")
    label(for="url") URL
    br
    input(type="text" name="url" id="url")
    br
    label(for="description") Description
    br
    input(type="text" name="description" id="description")
    br
    input(type="submit" value="Create")
